*.DS_Store*
masc-core/caches/*
_BuildScript_$_run_closure1.class
masc-core/app/src/test/resources/plugins/masc-2.0.jar
masc-core/daemon/*
masc-core/native/*
masc-core/wrapper/*
masc-web/venv
Muse/src/edu/wm/cs/muse/sample_config.properties
Muse/test/output/output.txt
Muse/src/edu/wm/cs/muse/sample_config.properties
masc-core/app/src/test/resources/input/exhaustive/output/
masc-core/app/outputs/
masc-web/.DS_Store
masc-core/app/src/test/resources/plugins/*.class
masc-core/*.log
.DS_Store
