{% extends 'layout/base.html' %}

{% block content %}
<div class="container pb-2 pt-4">
    <div class="row">
        <div class="col-xl-8 col-lg-8">
            = <h2 class="title">{{ assets.title }}</h2>
            <div>
                    <span>
                        {{ assets.description }}
                    </span>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 pt-4">
            <div class="d-flex justify-content-end align-items-end">
                <a href="/labs/download" class="btn btn-primary" style="width: 200px;"><b>Download Mutations</b></a>
            </div>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-xl-5 col-lg-5">
            <div class="card">
                <div class="card-title" style="background-color: #E5E4E2;">
                    <h5 class="p-2">Properties File You Used</h5>
                </div>
                <div class="card-body">
                        <textarea class="form-control" id="mutadedFormControlTextarea1" rows="18"
                                  placeholder="Your Submitted Code" disabled>{{ input_code }}</textarea>
                </div>
            </div>
        </div>
        <div class="col-xl-7 col-lg-7">
            <div class="card">
                <div class="card-title" style="background-color: #E5E4E2;">
                    <h5 class="p-2">Mutated Code You Just Generated!</h5>
                </div>
                <div class="card-body">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="18"
                                  placeholder="The mutated code comes here" disabled>{{ output_code }}</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-22">
        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-title" style="background-color: #E5E4E2;">
                    <h5 class="p-2">System Logs</h5>
                </div>
                <div class="card-body">
                    <textarea class="form-control" id="systemOutputs" rows="9" placeholder="System Logs" disabled>{{ stdOut }}</textarea>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
